<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Delhi Metro API</title>
    <link rel="icon" href="{% static 'metro.png' %}" />

    {% block head %}
    {% endblock %}

</head>
<body style="background: #eee;;">

    {% block content %}
    {% endblock %}

    {% block script %}
    {% endblock %}
    
</body>
</html>