<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Metro List</title>
</head>
<body>
    <a href="{% url 'home' %}" style="font-size: 1.5em;">BACK HOME</a>
    <h1>Delhi Metro List Alphabetically:</h1>
    <p>
            AIIMS
<br />
            Adarsh Nagar
<br />
            Airport
<br />
            Akshardham
<br />
            Alpha 1
<br />
            Anand Vihar
<br />
            Arjan Garh
<br />
            Arthala
<br />
            Ashok Park Main
<br />
            Ashram
<br />
            Azadpur
<br />
            Badarpur
<br />
            Badkhal Mor
<br />
            Bahadurgarh City
<br />
            Barakhambha Road
<br />
            Bata Chowk
<br />
            Bhikaji Cama Place
<br />
            Botanical Garden
<br />
            Brigadier Hoshiyar Singh
<br />
            Central Secretariat
<br />
            Chandni Chowk
<br />
            Chawri Bazar
<br />
            Chhatarpur
<br />
            Chirag Delhi
<br />
            Civil Lines
<br />
            Dabri Mor-Janakpuri South
<br />
            Dashrath Puri
<br />
            Delhi Aerocity
<br />
            Delhi Cantonment
<br />
            Delhi Gate
<br />
            Delta 1
<br />
            Depot
<br />
            Dhaula Kuan
<br />
            Dilshad Garden
<br />
            Durgabai Deshmukh South Campus
<br />
            Dwarka
<br />
            Dwarka Mor
<br />
            Dwarka Sector 10
<br />
            Dwarka Sector 11
<br />
            Dwarka Sector 12
<br />
            Dwarka Sector 13
<br />
            Dwarka Sector 14
<br />
            Dwarka Sector 21
<br />
            Dwarka Sector 8
<br />
            Dwarka Sector 9
<br />
            ESI Hospital
<br />
            East Azad Nagar
<br />
            East Vinod Nagar - Mayur Vihar-II
<br />
            Escorts Mujesar
<br />
            Faridabad Old
<br />
            GNIDA Office
<br />
            GTB Nagar
<br />
            Ghevra Metro station
<br />
            Ghitorni
<br />
            Gokulpuri
<br />
            Golf Course
<br />
            Govind Puri
<br />
            Greater Kailash
<br />
            Green Park
<br />
            Guru Dronacharya
<br />
            HUDA City Centre
<br />
            Haiderpur
<br />
            Harkesh Nagar
<br />
            Hauz Khas
<br />
            Hazrat Nizamuddin
<br />
            Hindon
<br />
            IFFCO Chowk
<br />
            IIT Delhi
<br />
            INA
<br />
            IP Extension
<br />
            ITO
<br />
            Inderlok
<br />
            Indraprastha
<br />
            IndusInd Bank Cyber City
<br />
            Jaffrabad
<br />
            Jahangirpuri
<br />
            Jama Masjid
<br />
            Jamia Millia Islamia
<br />
            Janakpuri East
<br />
            Janakpuri West
<br />
            Jangpura
<br />
            Janpath
<br />
            Jasola Apollo
<br />
            Jasola Vihar Shaheen Bagh
<br />
            Jawaharlal Nehru Stadium
<br />
            Jhandewalan
<br />
            Jhilmil
<br />
            Johri Enclave
<br />
            Jor Bagh
<br />
            Kailash Colony
<br />
            Kalindi Kunj
<br />
            Kalkaji Mandir
<br />
            Kanhiya Nagar
<br />
            Karkarduma
<br />
            Karkarduma Court
<br />
            Karol Bagh
<br />
            Kashmere Gate
<br />
            Kaushambi
<br />
            Keshav Puram
<br />
            Khan Market
<br />
            Kirti Nagar
<br />
            Knowledge Park II
<br />
            Kohat Enclave
<br />
            Krishna Nagar
<br />
            Lajpat Nagar
<br />
            Lal Qila
<br />
            Laxmi Nagar
<br />
            Lok Kalyan Marg
<br />
            MG Road
<br />
            Madipur
<br />
            Majlis Park
<br />
            Major Mohit Sharma
<br />
            Malviya Nagar
<br />
            Mandawali - West Vinod Nagar
<br />
            Mandi House
<br />
            Mansarovar Park
<br />
            Maujpur-Babarpur
<br />
            Mayapuri
<br />
            Mayur Vihar - I
<br />
            Mayur Vihar Extension
<br />
            Mayur Vihar Pocket I
<br />
            Mewala Maharajpur
<br />
            Micromax Moulsari Avenue
<br />
            Model Town
<br />
            Mohan Estate
<br />
            Mohan Nagar
<br />
            Moolchand
<br />
            Moti Nagar
<br />
            Mundka
<br />
            Mundka Industrial Area
<br />
            Munirka
<br />
            NHPC Chowk
<br />
            NSEZ
<br />
            Najafgrah
<br />
            Nangli
<br />
            Nangloi
<br />
            Nangloi Railway station
<br />
            Naraina Vihar
<br />
            Nawada
<br />
            Neelam Chowk Ajronda
<br />
            Nehru Enclave
<br />
            Nehru Place
<br />
            Netaji Subhash Place
<br />
            New Ashok Nagar
<br />
            New Delhi
<br />
            Nirman Vihar
<br />
            Noida City Centre
<br />
            Noida Electronic City
<br />
            Noida Sector 101
<br />
            Noida Sector 137
<br />
            Noida Sector 142
<br />
            Noida Sector 143
<br />
            Noida Sector 144
<br />
            Noida Sector 145
<br />
            Noida Sector 146
<br />
            Noida Sector 147
<br />
            Noida Sector 148
<br />
            Noida Sector 15
<br />
            Noida Sector 16
<br />
            Noida Sector 18
<br />
            Noida Sector 34
<br />
            Noida Sector 50
<br />
            Noida Sector 51
<br />
            Noida Sector 52
<br />
            Noida Sector 59
<br />
            Noida Sector 61
<br />
            Noida Sector 62
<br />
            Noida Sector 76
<br />
            Noida Sector 81
<br />
            Noida Sector 83
<br />
            Okhla Bird Sanctuary
<br />
            Okhla NSIC
<br />
            Okhla Vihar
<br />
            Palam
<br />
            Panchsheel Park
<br />
            Pandit Shree Ram Sharma
<br />
            Pari Chowk
<br />
            Paschim Vihar East
<br />
            Paschim Vihar West
<br />
            Patel Chowk
<br />
            Patel Nagar
<br />
            Peera Garhi
<br />
            Phase 1
<br />
            Phase 2
<br />
            Phase 3
<br />
            Pitam Pura
<br />
            Pragati Maidan
<br />
            Pratap Nagar
<br />
            Preet Vihar
<br />
            Pul Bangash
<br />
            Punjabi Bagh
<br />
            Punjabi Bagh West
<br />
            Qutub Minar
<br />
            R.K.Puram
<br />
            Raj Bagh
<br />
            Raja Nahar Singh
<br />
            Rajdhani Park
<br />
            Rajendra Place
<br />
            Rajiv Chowk
<br />
            Rajouri Garden
<br />
            Ramakrishna Ashram Marg
<br />
            Ramesh Nagar
<br />
            Rithala
<br />
            Rohini East
<br />
            Rohini Sector 18
<br />
            Rohini West
<br />
            Sadar Bazaar Cantonment
<br />
            Saket
<br />
            Samaypur Badli
<br />
            Sant Surdas
<br />
            Sarai
<br />
            Sarita Vihar
<br />
            Sarojini Nagar
<br />
            Satguru Ram Singh Marg
<br />
            Sector 28
<br />
            Sector 42-43
<br />
            Sector 53-54
<br />
            Sector 54 Chowk
<br />
            Sector 55–56
<br />
            Seelampur
<br />
            Shadipur
<br />
            Shahdara
<br />
            Shaheed Nagar
<br />
            Shaheed Sthal
<br />
            Shakurpur
<br />
            Shalimar Bagh
<br />
            Shankar Vihar
<br />
            Shastri Nagar
<br />
            Shastri Park
<br />
            Shiv Vihar
<br />
            Shivaji Park
<br />
            Shivaji Stadium
<br />
            Shyam park
<br />
            Sikandarpur
<br />
            Sir Vishweshwaraiah Moti Bagh
<br />
            South Extension
<br />
            Subhash Nagar
<br />
            Sukhdev Vihar
<br />
            Sultanpur
<br />
            Surajmal Stadium
<br />
            Tagore Garden
<br />
            Terminal 1-IGI Airport
<br />
            Tikri Border
<br />
            Tikri Kalan
<br />
            Tilak Nagar
<br />
            Tis Hazari
<br />
            Trilokpuri Sanjay Lake
<br />
            Tughlakabad
<br />
            Udyog Bhawan
<br />
            Udyog Nagar
<br />
            Uttam Nagar East
<br />
            Uttam Nagar West
<br />
            Vaishali
<br />
            Vasant Vihar
<br />
            Vidhan Sabha
<br />
            Vinobapuri
<br />
            Vishwa Vidyalaya
<br />
            Vodafone Belvedere Towers
<br />
            Welcome
<br />
            Yamuna Bank
    </p>
    
</body>
</html>